Token Revocation - remove vs. revoke

For refresh token revocation, why is the ```RevocationEndpointController``` calling the token store's ```RemoveAsync``` instead of ```RevokeAsync```?   

https://github.com/IdentityServer/IdentityServer3/blob/master/source/Core/Endpoints/Connect/RevocationEndpointController.cs#L167

This simply removes the Refresh Token from storage but leaves the related access token intact.   Using the [RevokeAsync method](https://github.com/IdentityServer/IdentityServer3/blob/master/source/Core/Services/ITransientDataRepository.cs#L65) should remove all related tokens, correct?



<!---
@huboard:{"order":1075.98828125,"milestone_order":1111,"custom_state":""}
-->


For a workaround, in our own ```IRefreshTokenStore's``` type we invoke ```RevokeAsync(subject, client)``` from within our implemented ```RemoveAsync(key)``` method.

```c#
/// _repository is the DAL instance to persistent storage (database)
public async Task RemoveAsync(string key)
{
    var token = await _repository.GetAsync(key);
    if (token != null)
    {
        await RevokeAsync(token.SubjectId, token.ClientId);  // NEW
        //await _repository.RemoveAsync(key);  // OLD
    }
}

public async Task RevokeAsync(string subject, string client)
{
    var tokensToRevoke = await _repository.GetAllAsync(subject, client);
    tokensToRevoke.ForEach(async token => await _repository.RemoveAsync(token.TokenKey));
}
```


Tried this change in the [```RevocationEndpointController```] (https://github.com/IdentityServer/IdentityServer3/blob/master/source/Core/Endpoints/Connect/RevocationEndpointController.cs#L167) on my local dev and seems to work:

```c#
//await _tokenHandles.RemoveAsync(handle);  // OLD
await _refreshTokens.RevokeAsync(token.SubjectId, token.ClientId);  // NEW
```

NOTE:  I didn't apply the same fix to the ```RevokeAccessTokenAsync``` method as revoking an access/reference token shouldn't require removal of all tokens under the client/subject pair, such as the associated refresh token.   

Before I start a PR, was this scenario/fix looked at before?  We're using the RO grant primarily, so don't know if this strategy applies to other grants after reading [RFC 7009](https://tools.ietf.org/html/rfc7009). 


The spec is about revoking specific tokens - not all client/subject combinations or releated token types.

Towards the end of [https://tools.ietf.org/html/rfc7009#section-2.1](RFC 7009 Section 2.1)

Towards the end of [https://tools.ietf.org/html/rfc7009#section-2.1](RFC 7009 Section 2.1), it states that if "token is a refresh token and the authorization server supports the revocation of access tokens, then the authorization server SHOULD invalidate all access tokens based on the same grant..."

Seems to be recommended.  Did I miss the context?  



can't remember. I will have a look again.

done